:root {
  --color-hover: #3bd902;

  --white: #fff;
  --black: #000;

  --gray-10: #F5F3F2;
  --gray-15: #e4e4e3;
  --gray-20: #C0C0BB;
  --gray-30: #8E8883;
  --gray-40: #635F5D; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;  

  height: 100vh;
}

/* SVG */
svg {
  display: block;
  
  &.treemap {
    margin: 10px auto;
    font-size: 10px;
  }

  &.legend {
    margin: 0 auto;
  }
}

/* ROOT */
.root {
  position: relative;
}

/* FORM */
.dropdown-container {
  position: absolute;
  top: 0;
  right: 64px;
  
  @media (max-width: 800px) {
    right: 24px;
  }

  select {
    color: var(--gray-30);
    font-size: 1.6em;
    border-color: var(--gray-30);
  }
}

/* TILE */
.tile {
  &-group:hover rect {
    stroke: var(--black);
    stroke-opacity: .5;
    fill: var(--color-hover);
  }

  &-text {
    cursor: default;
  }
}

/* TITLE */
.title {
  font-size: 4em;
  fill: var(--gray-40);
}

/* DESCRIPTION */
.description {
  font-size: 2em;
  fill: var(--gray-30);
}

/* LEGEND */
.legend {
  &-text {
    fill: var(--gray-40);
  }
}

/* TOOLTIP */
.tooltip {
  position: absolute;
  min-width: 150px;
  max-width: 250px;

  padding: 10px;
  border-radius: 6px;
  color: var(--white);
  background-color: rgba(0,0,0, .8);
  font-size: .8em;
  text-align: center;
 
  pointer-events: none;
  transform: translate(-50%, 0);
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  justify-content: center;
}

.tooltip-details {
  line-height: 1.7;
  text-align: left;
  align-self: flex-start;
}